html {
    background: url(./pexels-vinicius-benedit-3620705.jpg) no-repeat center fixed;
    background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#container {
    padding: 1rem 1rem;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
}

#title {
    font-size: 6rem;
}

.description {
    font-size: 1.5rem;
    color: lightblue;
    text-align: center;
    margin: 1rem auto;
}

#tagline {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items {
    display: flex;
    color: lightblue;
    font-size: 2.5rem;
    gap: 2.5rem;
    padding: 1rem;
}

img {
    width: 250px;
    height: 250px;
}

.sushi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.left, .right, .middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.sushi-name {
    font-size: 3rem;
}

.sushi-description {
    flex: 1;
    font-style: italic;
}

.navbar-item:hover {
    color: aqua;
    cursor: pointer;
}

.active-tab {
    color: aqua;
}

#small-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone {
    display: flex;
    flex-direction: column;;
    justify-content: space-evenly;
    align-items: center;
}

.phone > p {
    margin: 0;
}